<!DOCTYPE html>

<html>
<body>
<div style="text-align:center">
  <h1>
    Displaying shot # {{ shot.shot_number }}
  </h1>  
</div>
<div style="text-align:center">
<form action="{% url 'plots:display_shot' shot.id %}" method="post">
    {% csrf_token %}
    <input type="date" name="Date" value="{{ c_date}}" required=True>

    Run#: <input type="number" value="{{ shot.run }}" name="Run" required=True><br>
<input type="submit" value="Check data">
</form>
</div>

<div style="text-align:center">


<div style="display:inline-block" >
<img src='{% url 'plots:getimage' shot.id %}?checks=...' width="500" alt="img" class="img-responsive img-rounded" />
</div>

</div>

</body>
</html>
