<!DOCTYPE html>

<html>
<body>
<div style="text-align:center">
  <h1>
    Displaying shot # {{ shot.shot_number }}
  </h1>  
</div>
<div style="text-align:center">
<form action="{% url 'plots:display_shot' shot.id %}" method="post">
    {% csrf_token %}
    <input type="date" name="Date" value="{{ c_date}}" required=True>

    Run#: <input type="number" value="{{ shot.run }}" name="Run" required=True> <br>
  <input type="submit" style="display: none;">
  <input type="submit" value="Previous" name="Previous">  &nbsp;&nbsp;&nbsp;     Shot#: <input type="number" value="{{ shot.shot_number }}" name="Shot_number" style="width: 5em" required=True> &nbsp;&nbsp;&nbsp;<input type="submit" value="Next" name="Next">

<br>
</form>
</div>

<div style="text-align:center">


<div style="display:inline-block" >
<img src='{% url 'plots:getimage' shot.id %}?checks=...' width="1000" alt="img" class="img-responsive img-rounded" />
</div>

</div>

</body>
</html>
